body{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size:14px;
    color:#363636;
    position:relative;
}

h1,h2,h3,h4,h5,h6{
    font-weight:500;
}
/*=========================
    Header CSS
===========================*/
.header{
    background:linear-gradient(-154deg,#42bc7f,#3d8963);
}
.header .navbar-collapse{
    padding:0;
}
.header .header-inner {
    background: linear-gradient(-154deg,#42bc7f,#3d8963);
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    z-index: 9000;
}
.header .navbar-nav {
    float: right;
    margin: 0;
}
.header .logo{
    float:left;
    padding-top:17px;
}
.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    min-height: 0px;
}
.header .nav li{
    float: left;
    position:relative;
}
.header .nav li:last-child{
    margin:0;
}
.header .nav li a {
    color: #d5d5d5;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 15px;
    position: relative;
    display: inline-block;
    box-shadow:none;
    text-shadow:none;
}
.header .nav li:hover a,
.header .nav li.current a{
    color:#fff;
}
.header .nav li:hover a{
    color:#fff;
}
.header .nav li .dropdown{
    background: #333;
    width: 220px;
    position: absolute;
    left: 40px;
    z-index: 99;
    opacity:0;
    visibility:hidden;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
.header .nav li:hover .dropdown{
    opacity:1;
    visibility:visible;
    left: 0px;
}
.header .nav li .dropdown li{
    float:none;
    margin:0;
}
.header .nav li .dropdown li a{
    padding: 10px 15px;
    color: #fff;
    display: block;
}
.header .nav li .dropdown li i{
    float:right;
}
.header .nav li .dropdown li:hover a{
    color:#42BC7F;
}
.header .nav li .dropdown li a:before{
    display:none;
}
.header .nav li .dropdown .sub-dropdown{
    position: absolute;
    top: 0;
    left: 110%;
    width: 220px;
    background: #333;
    opacity:0;
    visibility:hidden;
    transition:all 0.4s ease;
}
.header .nav li .dropdown li:hover .sub-dropdown{
    opacity:1;
    left:100%;
    visibility:visible;
}
.header .nav li .dropdown .sub-dropdown li:hover a {
    color:#42BC7F;
}
.header .nav li .dropdown .sub-dropdown li a{
    color:#fff;
}
/* Sticky */
.header .sticky {
    position: fixed;
    width: 100%;
    top: 0;
    animation: fadeInDown 0.8s both 0s;
}
.form-group {
    text-align: center;
}
/*=========================
    End Header CSS
===========================*/

/*=========================
    Slider CSS
===========================*/
/*.slider{
    position:relative;
}
.slider:before{
    position:absolute;
    left:0;
    top:0;
    content:"";
    height:100%;
    width:100%;
    background:#000;
    opacity:0.4;
}
.slider{
    height:680px;
    background-size:cover;
    background-position:center;
}
.slider .text {
    margin-top: 227px;
}
.slider h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 30px;
}
.slider p{
    color:#fff;
}
.slider .button{
    margin-top:30px;
}
.slider .button .btn{
    margin-right:10px;
    background:#fff;
    color:#333;
    border-radius:0px;
}
.slider .button .btn:last-child{
    margin-right:0px;
}
.slider .button .btn i{
    margin-right:7px;
}
.slider .button .btn:hover{
    color:#fff;
    background:#42bc7f;
}
.slider .button .primary{
    background:#42bc7f;
    color:#fff;
}
.slider .button .primary:hover{
    color:#333;
    background:#fff;
}
/*=========================
    End Slider CSS
===========================*/
